@import url(https://fonts.googleapis.com/css?family=Fjalla+One|Average);

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    background-color: #FFFFFF;
    padding: 20px 20px 30px 20px;
    margin: auto;
    margin-top: 75px;
    max-width: 768px;
    min-height: 70vh; /*Procentual of browser height to fill blank spaces*/
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.left_content {
    background-color: #FFFFFF;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #FFFFFF;
    padding: 5px;
    margin: 0px 170px 0px 170px;
    
}

#top ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F44336;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
}

#top li{
    float: left;
}

#top li img{
    float: left;
}

#top a{
    display: block;
    padding: 16px 20px;
    color: #FFFFFF;
    font-family: "Fjalla One" ,sans-serif;
    font-size: 24px;
    text-align: center;
}

#top li a:hover:not(.active){
    background-color: #B32727;
    text-decoration: none;
}

#top .active{
    background-color: #B32727;
}
