/Projekt/AntonsHemsida/nbproject/private/
/Projekt/AntonsAdmin/nbproject/private/
/Projekt/AntonsHemsida/build/
/Projekt/AntonsHemsida/dist/
/Projekt/Images/nbproject/private/
/Projekt/Images/build/
/Projekt/Images/dist/